// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  height: 100px;
  border: 1px solid grey;
}

.featured {
  height: 400px;
  padding: 4px;
  border: 1px solid lightgrey;
  box-shadow: 0;
}

.back-link {
  margin: 20px 0px;
}
